fastapi
uvicorn
pandas
numpy
matplotlib
seaborn
plotly
scikit-learn
pytorch
xgboost
lightgbm
transformers
sqlalchemy
statsmodels
jupyterlab
scipy
prophet
orbit-ml 
mlflow
streamlit
requests
pytest
httpx
beautifulsoup4
typings-extensions
pydantic
tabulate
tqdm
python-dotenv
